/*css for paragraph*/
#textrow1{
    font-size: 25px;
    padding: 20px;
    border: black solid ;
    background-color: rgb(197, 225, 255);
    border-radius: 15px;
    width:50% ;
    float:right;
    margin-right: 180px;
    margin-top: 60px;
}

/*css for paragraph*/
#textrow2{
    font-size: 25px;
    padding: 20px;
    border: black solid ;
    background-color: rgb(197, 225, 255);
    border-radius: 15px;
    width:50% ;
    float:right;
    margin-right: 750px;
    margin-top: 60px;
}

/*css for spotify album embed*/
#spotify{
    float: right;
    margin-left: 1100px;
    margin-top: -400px;
    margin-right: 400px;
    position: relative;
}

/*css for nba player picture*/
#nba{
    float: right;
    position: relative;
    margin-top: -450px;
}

/*css for paragraph*/
#textrow3{
    font-size: 25px;
    padding: 20px;
    border: black solid ;
    background-color: rgb(197, 225, 255);
    border-radius: 15px;
    width:50% ;
    float:right;
    margin-right: -300px;
    margin-top: 60px;
}

/*css for virus picture*/
#virus{
    float: left;
    position: relative;
    margin-top: -380px;
    margin-left: 300px;
}