#textrow4{
    font-size: 25px;
    padding: 20px;
    border: black solid ;
    background-color: rgb(197, 225, 255);
    border-radius: 15px;
    width:60% ;
    float:right;
    margin-right: 100px;
    margin-top: 60px;
}

#textrow5{
    font-size: 25px;
    padding: 20px;
    border: black solid ;
    background-color: rgb(197, 225, 255);
    border-radius: 15px;
    width:60% ;
    float:left;
    margin-left: 50px;
    margin-top: 60px;
}

#code{
    float: left;
    position: relative;
    margin-top: 50px;
    margin-left:50px;
}

#discussion{
    float: right;
    position: relative;
    margin-top:50px;
    margin-right: 100px;
}